{% extends 'blog/layout.html' %}
{% load imagekit %}

{% block title %}
    {{post.title}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ post.title }}</h2>
            {# <img src="/media/{{post.photo}}" style="max-width:100%;" /> #}
            
            {% if post.photo %}
                {#<img src="{{post.photo.url}}" style="max-width:100%;" /> #}
                {#{{post.photo_thumbnail.url}}#}
                <!--/media/CACHE/images/blog/post/2019/01/24/ian-dool.. -->
                {#<img src="{{post.photo_thumbnail.url}}" />#}
                {#<img src="{{post.photo.url}}" />#}
                <img src="{{post.photo.url}}" >

                {% thumbnail "100x100" post.photo %}

                {% thumbnail "100x100" post.photo as thumb %}
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                
                {% thumbnail "100x100" post.photo -- style="" onclick="" class="" %}
            {% endif %}
            {{ post.content|linebreaks }}
            <!--참고: linebreaks with  P tag-->
            {% if post.latlng %}
                <hr/>
                <div id="map_id_lnglat_detail" style="height: 300px; width: 100%; position: relative; overflow: hidden;">
                </div>
                <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
                <script src="//maps.googleapis.com/maps/api/js"></script>
                <script>
                    $(function() {
                        //console.log("{{widget.attrs.id}}");
                        //$('#{{widget.attrs.id}}').val('37.57,129.92');
                        var center = new google.maps.LatLng(37.57,129.92);

                        //document.getElementById('map_{{ widget.attrs.id }}');
                        var map_el = $('#map_{{ widget.attrs.id }}_detail')[0];
                        var map = new google.maps.Map(map_el, {
                            zoom: 4,
                            center: center,
                        });

                        map.addListener('click', function(e) {
                            var loc = e.latLng.lat() + ',' + e.latLng.lng();
                            $('#{{widget.attrs.id}}').val(loc);
                        });
                    });
                </script>
            {% endif %}
            
            <hr/>
            <h4>Comments</h4>
            <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        <small>by {{ comment.author }}</small>
                        <small>at {{ comment.updated_at }}</small>
                    </li>
                {% endfor %}
            </ul>

            <hr/>
            <a href="{% url "blog:post_list" %}" class="btn btn-primary">글목록</a>
            <a href="{% url "blog:post_edit" post.id %}" class="btn btn-primary">글수정</a>
        </div>
    </div>
</div>
{% endblock %}